# .streamlit/secrets.toml
# Fill in your Snowflake connection details
# This file should NEVER be committed to git

[snowflake]
account = "wjlhceu-ym44643"
user = "INSURANCE_APP_SERVICE"
private_key_path = "rsa_key.p8"
role = "INSURANCE_APP_VIEWER"
warehouse = "COMPUTE_WH"
database = "INSURANCE_AI_HUB"
schema = "ANALYTICS"
